
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



.body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    width: 650px;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.9);
}

.container h1{
    font-size: 1.6rem;
    font-weight: 700;
    color:black;
}

.container h2{
    font-size: 1.2rem;
    font-weight: 700;
    color:black;
}



.container .wrapper {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.container .wrapper .button{
    padding: 8px;
    width: 100%;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-size: 1rem;
    font-weight: 700;
    color: black;
    border: 1px solid black;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    color:black;
}

.container .wrapper .button:hover{
    color: #6b43ff;
    border-color: #6b43ff;
}

.back-button{
    width: 75px;
    margin: 10px 20px;
    background-color: red;
    border-radius: 8px;
    padding: 10px;
    font-size: 1rem;
    font-weight: 700;
    color:black;
    cursor:pointer;
    text-align: center;
}

table, th, td {
  border: 1px solid;
}

th{
  padding: 20px 15px;
  text-align: left;
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
}

td{
  padding: 15px;
  text-align: left;
  vertical-align:middle;
  font-weight: 300;
  font-size: 12px;

}



.selector {
 cursor: pointer;
}

.selector:hover{
    color: #6b43ff;
}

